#general
django >3.2,<3.3
python-decouple
pillow
djangorestframework

# 3rd party
drf-yasg[validation]
markdown
django-filter
django-cors-headers

# deploy

# email
django-mail-templated
djangorestframework-simplejwt

# reformatting
black
flake8
pytest
pytest-django
Faker

# background
celery
redis